@import '../../node_modules/antd/dist/antd.css';
*{
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

@keyframes smoothScroll {
    0% {
      transform: translateY(-15px);
    }
  
    100% {
      transform: translateY(0px);
    }
}

.sticky {
    position: sticky;
    top: -15px;
    width: 100%;
    transition: all 0.5s ease;
    animation: smoothScroll .7s ease;
    z-index: 99;
  }